!!!

%html
  %head
    %title Pray
  %body
    %p
      Instructions: Send a text message to 1-213-263-3592 with your estimated arrival time in minutes to be added to the list
    %table
      %thead
        %th
          Arrival Time
      %tbody
        - @people.each do |person|
          %tr
            %td
              = person.eta
              minutes
