!!!

%html
  %head
    %title Pray
    %link{rel: :stylesheet, href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
    %link{rel: :stylesheet, href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"}
    %link{rel: :stylesheet, href: "/css/style.css"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

  %body
    .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: ".navbar-collapse"}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#"}
            Pray
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: "#"}
                Home
            %li
              %a{href: "#"}
                About
    .container
      %h1 Pray
      %p.lead
        Send a text message to
        %a{href: "tel:+12132633592"}<
          213-263-3592
        with your estimated arrival time in minutes, in order to be added to the
        list. Text "list" to the same number to find out how many people are
        expected to arrive in the next five minutes.

        You can also use the form below to add yourself to the list.
      %table.table.table-striped
        %thead
          %th
            Arrival Time
        %tbody
          - @people.each do |person|
            %tr
              %td
                = person.eta
                minutes
      .row
        .col-md-12
          %h1 I'm On My Way!
          %form{role: "form", method: "post", action: "/pray/register"}
            .form-group
              %label{for: "eta"}
                Estimated Time of Arrival 
              %input#eta.form-control{type: "number", placeholder: "time (in minutes)", name: "eta"}
            %button.btn.btn-primary{type: "submit"}
              Submit!
    #footer
      .container
        .text-muted<
          Made with
          %a{href: "http://www.ruby-lang.org"}Ruby
          ,
          %a{href: "http://www.sinatrarb.com"}Sinatra
          ,
          %a{href: "http://www.getbootstrap.com"}Bootstrap
          , and
          %a{href: "http://haml.info"}HAML
          , served up by
          %a{href: "http://nginx.org"}nginx
          and
          %a{href: "http://puma.io"}Puma
          \.

          Source on
          %a{href: "https://github.com/ibrahima/pray"} Github
          \.
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51189269-1', 'ibrahimawwal.net');
      ga('send', 'pageview');

